extends ../layout/page-layout

block variables
  - var title = "SEO"
  - var activePage = 5

block header
  +header

block main

  -
    var boxesList = [
      {
        link: 'services-analytics.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Аналитика',
        text: 'Аналитика',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-strategy.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Стратегия',
        text: 'Стратегия',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-design.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Дизайн',
        text: 'Дизайн',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Сайт',
        text: 'Сайт',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Воронка продаж',
        text: 'Воронка продаж',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo',
        text: 'Seo',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Контекст',
        text: 'Контекст',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Соцсети',
        text: 'Соцсети',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Видео-маркетинг',
        text: 'Видео-маркетинг',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Crm',
        text: 'Crm',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
    ];

  -
    var servicesList = [
      {
        text: 'Технический анализ.'
      },
      {
        text: 'Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.'
      },
      {
        text: 'Сбор семантического ядра – набора ключевых слов, которые соответствуют вашей тематике.'
      },
      {
        text: 'Анализ, изменение текстов со внесением в них ключевых слов.'
      },
      {
        text: 'Распределение веса посадочных страниц, возможно, добавление новых.'
      },
      {
        text: 'Контроль за поведенческими факторами пользователей на сайте и их совершенствование.'
      }
    ];

  -
    var servicesList2 = [
      {
        text: 'Анализ конкурентов и их места в поиске.'
      },
      {
        text: 'Внедрение изменений на основе аналитики конкурентов.'
      },
      {
        text: 'Анализ позиций вашего бизнеса по составленному семантическому ядру.'
      },
      {
        text: 'Анализ и работа с вашим ссылочным профилем.'
      }
    ];

  -
    var servicesList3 = [
      {
        text: 'Оценка KPI, которые дают понимание, что SEO продвижение приносит результаты, помогает достигать намеченные цели.'
      },
      {
        text: 'Прогноз дальнейшей динамики развития.'
      }
    ];

  -
    var servicesList4 = [
      {
        text: 'Вы готовы работать на перспективу. SEO продвижение дает долгосрочный эффект.'
      },
      {
        text: 'Вы не занимаете ТОП-позиции в поисковой выдаче.'
      },
      {
        text: 'Вы получаете мало трафика на сайт.'
      },
      {
        text: 'Мало продаж.'
      }
    ];

  -
    var servicesList5 = [
      {
        text: 'Привлечение целевой аудитории, которая проявляет к вам лояльность, так как сама выбрала зайти на одну из ваших страниц. Что не вызывает у нее некого негатива, в отличие от перехода к вам с рекламы.'
      },
      {
        text: 'При остановке работ по SEO вы резко не пропадаете с топовых позиций в выдаче, это происходит плавно и некоторое время сохраняется результат.'
      },
      {
        text: 'Постоянное совершенствование, которое положительно скажется на развитии вашего бизнеса.'
      }
    ];

  -
    var servicesList6 = [
      {
        text: 'Привлечение целевой аудитории, которая проявляет к вам лояльность, так как сама выбрала зайти на одну из ваших страниц. Что не вызывает у нее некого негатива, в отличие от перехода к вам с рекламы.'
      },
      {
        text: 'При остановке работ по SEO вы резко не пропадаете с топовых позиций в выдаче, это происходит плавно и некоторое время сохраняется результат.'
      },
      {
        text: 'Постоянное совершенствование, которое положительно скажется на развитии вашего бизнеса.'
      }
    ];

  main.gray-box
    section.services
      .services__box-wrapper
        h1 Услуги
        .services__box
          .services__nav-box
            ul.services__boxes-list
              each item, index in boxesList
                if (index === activePage)
                  li
                    a(href= item.link).services__link-active
                      span= item.text
                      +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                      +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
                else
                  li
                    a(href= item.link)
                      span= item.text
                      +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                      +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
          .services__box-images
            .services__image
              +img('services', 'icon-seo', 'svg', '220', '220', 'Seo')
            .services__boxes
              +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
              +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
          .services__box-text
            h2 Seo продвижение
            .services__text
              p Прежде, чем говорить о преимуществах, стоит объяснить, что означает
                strong  SEO.
                | Это поисковая оптимизация и продвижение сайта, которые выводят в топовые позиции органической выдачи Яндекс, Google и других поисковиков.
              p Органическая выдача – это естественная часть выдачи в поисковиках Яндекс, Google и других, не являющаяся рекламной. То есть, вы попадаете в ТОП-позиции органической выдачи при условии максимального совпадения контента сайта с запросом пользователя.
              p Существует больше 500 факторов, которые влияют на органическую выдачу. При настройке SEO достаточно учесть основные из таких факторов, чтобы эффективно конкурировать в вашей нише бизнеса.
        .services__info
          h3 Зачем SEO продвижение?
          p Сейчас продвижение сайта – это одна из самых важных частей эффективных продаж в Интернете.
            strong  Если вы не продвигаетесь, о вас мало кто узнает.
          p Грамотно настроенное СЕО выведет вас в ТОП поисковой выдачи Яндекс и Google. 85% людей не переходят дальше второй страницы по интересующему их запросу – раскрутка сайта делает вас видимым для целевой аудитории. Что увеличит поступаемый трафик – количество целевой аудитории, которой интересен ваш контент. Произойдет стабильный рост количества заявок. При правильной обработке этих заявок вашими специалистами, вы отметите рост продаж. А также это повысит узнаваемость вашего бренда, что запустит «сарафанное радио»: вас будут чаще советовать. В итоге, прибыль гарантированно увеличится.
          p Получается, что оптимизация и продвижение сайта дают вам конкурентное преимущество. Вы готовы отдать своих клиентов тем конкурентам, которые уже настроили SEO? Если нет, используйте все возможные точки роста, чтобы превзойти своих конкурентов!
        .services__box-seo
          h3 Этапы SEO-продвижения:
          .services__box-seo-wrapper
            .services__box-text-seo
              .services__text.services__text-box.services__text--1
                span 1
                p Разработка SEO-стратегии
              .services__text.services__text-box--2.services__text-light--gray
                span 2
                p Внутренняя оптимизация и продвижение:
                ul.services__text-list
                  each item in servicesList
                    li
                      p= item.text
            .services__box-text-seo
              .services__text.services__text-box
                span 3
                p Внешняя оптимизация и продвижение:
                ul.services__text-list
                  each item in servicesList2
                    li
                      p= item.text
              .services__text.services__text--margin.services__text-box--2.services__text-light--gray
                span 4
                p Анализ полученных результатов:
                ul.services__text-list
                  each item in servicesList3
                    li
                      p= item.text
            .services__info
              h3 Необходимо заказать SEO, если:
              ul.services__text-list
                each item in servicesList4
                  li
                    p= item.text
            .services__info
              h3 Основные отличия SEO от контекстной рекламы:
              ul.services__text-list
                each item in servicesList5
                  li
                    p= item.text
        .services__info.services__info--seo
          h3 Сроки
          p Скорость получения результатов от оптимизации и продвижения зависит в основном от вашего региона, уровня конкуренции в вашей нише, возраста сайта, количества запросов в семантическом ядре, текущих позиций в поиске, если вы уже пытались продвигаться.
          p Обычно, первые результаты от SEO заметны после 3-5 недель, так работают алгоритмы Яндекс и Google. А ощутимый результат появляется уже после 4-6-8 месяцев плотной работы. Но, если вы готовы работать на перспективу, то это принесет вам результаты: ТОП-позиции в выдаче, целевую аудиторию, рост продаж и прибыли вашего бизнеса.
        .services__info.services__info--seo
          h3 Преимущества заказа SEO в CMbox:
          ul.services__text-list
            each item in servicesList6
              li
                p= item.text
      .services__box-portfolio.container
        h2 Примеры работ вы можете посмотреть на странице
          a(href="#")  Портфолио

block footer
  +footer
